.heading{
    text-align: left;
     font-size: 20px;
     color: #404040;
     padding: 0 0 12px;
     border-bottom: 1px solid #e5e5e5;
     margin-bottom: 20px;
  }
  .right-side-content{
    height: calc(100vh - 219px);
    overflow-y: auto;
}
