<form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()" class="animated flipInX">
  <div class="login">
    <div class="login-header">
      <img src="../../../assets/images/logo.png" alt="logo">
      <h4>Reset Password</h4>
      <p class="reset-password">Please enter a new password: </p>
    </div>

    <div class="vaildation-area">
      <ion-item>
        <ion-label class="label" position="floating">Password</ion-label>
        <ion-input type="password" required #password="ngModel" name="password" [(ngModel)]="newPassword"
          pattern="(?=^.{6,12}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$">
        </ion-input>
      </ion-item>
      <div class="vaiidate-field" *ngIf="password.errors && ( password.touched || resetPasswordForm.submitted)">
        <p [hidden]="!password.errors.required">Password is required</p>
        <p [hidden]="!password.errors.pattern">Password should have atleast 1 small-case letter,
          1 Capital letter, 1 digit, 1 special character and the
          length should be between 6-12 characters.</p>
      </div>
    </div>
    <div class="vaildation-area">
      <ion-item class="confirm-password">
        <ion-label class="label" position="floating">Confirm Password</ion-label>
        <ion-input type="password" required #confirmPassword="ngModel"  name="confirmPassword" [(ngModel)]="confirmPasswords"></ion-input>
      </ion-item>
      <div class="vaiidate-field" *ngIf="newPassword !== confirmPasswords">
        <p>Password must match</p>
      </div>
    </div>

    <div class="forgot-btn-wrapper">
      <ion-button class="btn-default" [routerLink]="['/login']">Cancel</ion-button>
      <ion-button class="btn-main" type="submit" [disabled]="!resetPasswordForm.valid || newPassword !== confirmPasswords">Reset</ion-button>
    </div>
  </div>
</form>