<div class="page-wrapper payment-wrapper">
  <div class="table-wrapper">
    <div class="container-main contact-edit-data payment-edit-section lead-provider">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="port no-pad">
            <div class="port-body">
              <div class="port-header-contact pixel-width">
                <div class="title">
                  <div class="contact ml-1">
                    <span class="contact-redirect"
                      >Billing History &nbsp;&gt;
                    </span>
                    <span class="contact-redirect">Details &nbsp;&gt; </span>
                    <span class="contact-redirect"
                      >Make a Payment &nbsp;&gt;
                    </span>
                    <span class="common-color">Cards</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-body property-option-list">
                    <ng-container>
                      <div class="Office-listing">
                      <form>
                        <h2>Enter Your Card Information</h2>
                          <div class="Listing">
                            <div class="row user-data">
                              <div class="col-sm-12">
                                <div class="form-group user-field selected-contact-data">
                                  <ion-label class="label align-item-center">
                                    Name on Card
                                  </ion-label>
                                  <div  class="add_ico">
                                    <ion-input class="user-input" type="text" autocomplete="off"></ion-input>
                                  </div>
                                </div>
                              </div>  
                              <div class="col-sm-12">
                                <div class="form-group user-field selected-contact-data">
                                  <ion-label class="label align-item-center">
                                    Card Number
                                  </ion-label>
                                  <div  class="add_ico">
                                    <ion-input  class="user-input" type="text" autocomplete="off"></ion-input>
                                  </div>
                                </div>
                              </div> 
                              <div class="row pr-0  col-sm-12">
                                <div class="col-sm-6 pr-0">
                                  <div class="form-group user-field selected-contact-data">
                                    <ion-label class="label align-item-center">Expiry Date
                                    </ion-label>
                                    <p-dropdown  placeholder="01" class="payment" [filter]="false"></p-dropdown>
                                  </div>
                                </div> 
                                <div class="col-sm-6 pr-0">
                                  <div class="form-group user-field selected-contact-data">
                                    <ion-label style="height:21px;" class="label align-item-center">
                                    </ion-label>
                                    <p-dropdown  placeholder="2020" class="payment" [filter]="false"></p-dropdown>
                                  </div>
                                </div> 
                              </div> 
                              <div class="row pr-0  col-sm-12">
                                <div class="col-sm-6 pr-0">
                                  <div class="form-group user-field selected-contact-data">
                                    <ion-label class="label align-item-center">State
                                    </ion-label>
                                    <div  class="add_ico">
                                      <ion-input class="user-input" type="text" autocomplete="off"></ion-input>
                                    </div>
                                  </div>
                                </div> 
                                <div class="col-sm-6 pr-0">
                                  <div class="form-group user-field selected-contact-data">
                                    <ion-label class="label align-item-center">
                                      Zip Code
                                    </ion-label>
                                    <div  class="add_ico">
                                      <ion-input class="user-input" type="text" autocomplete="off"></ion-input>
                                    </div>
                                  </div>
                                </div> 
                                <button class="btn-cancel-head">Add your card</button>
                              </div> 
                            </div>
                          </div>
                        </form>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>