<div class="sidebar-wrapper" (click)="myInput = false" [ngClass]="myInput? 'yes' :'No'">

  <div class=" sidebar">
    <div class="logo">
      <img alt="Logo" src="assets/images/logo.png" *ngIf="navState || iconView" />
      <a>
        <span (click)="updateView()" *ngIf="navState else openNavIcon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24" />
              <path
                d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                fill="#207ebb" fill-rule="nonzero"
                transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
              <path
                d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                fill="#207ebb" fill-rule="nonzero" opacity="0.3"
                transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
            </g>
          </svg>
        </span>
        <ng-template #openNavIcon>
          <span (click)="updateView()"><svg xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
              class="kt-svg-icon left-icon">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <path
                  d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                  fill="#207ebb" fill-rule="nonzero" />
                <path
                  d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                  fill="#207ebb" fill-rule="nonzero" opacity="0.3"
                  transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
              </g>
            </svg>
          </span>
        </ng-template>
      </a>
    </div>
    <div class="nav-options">
      <p-accordion class="sideBarAccordian">
        <p-accordionTab [selected]="sidebar.user">
          <p-header class="sideHead" [routerLink]="['/users/user-accounts']"
            (click)="appService.updateHeaderName({ name: 'User Accounts', count: totalCount.user_count })">
            <img src="assets/images/sidebar/user-accounts.svg" alt=""> <span>User Accounts</span>
          </p-header>
          <ul *ngIf="toggleView">
            <li routerLinkActive="active"><a [routerLink]="['/users/user-accounts']"
                (click)="appService.updateHeaderName({ name: 'User Accounts', count: totalCount.user_count })">User
                Accounts <span class="green">{{totalCount.total_user}}</span></a></li>
            <li routerLinkActive="active"><a [routerLink]="['/users/plans']"
                (click)="appService.updateHeaderName({ name: 'Plans', count: totalCount.user_count })">
                Plans</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/users/billing-main-page']"
                (click)="appService.updateHeaderName({ name: 'Billing History', count: 0 })">
                Billing History</a>
            </li>
            <li routerLinkActive="active"><a [routerLink]="['/users/main-payment']"
                (click)="appService.updateHeaderName({ name: 'Make a Payment', count:0 })">
                Make a Payment</a>
            </li>
          </ul>
        </p-accordionTab>
        <p-accordionTab [selected]="sidebar.contact">
          <p-header class="sideHead" [routerLink]="['/customer']">
            <img src="assets/images/sidebar/cog.svg" alt="">
            <span>Customers</span>
          </p-header>
          <ul *ngIf="toggleView">
              <li routerLinkActive="active"><a [routerLink]="['/customer/all-customers']">
                  All Customers<span class="green">{{totalCount.total_contact || 0}}</span>
              </a></li>
          </ul>
        </p-accordionTab>
        <p-accordionTab [selected]="sidebar.subscription">
          <p-header class="sideHead" [routerLink]="['/subscription/all-subscription']">
            <img src="assets/images/sidebar/cog.svg" alt="">
            <span>Subscription</span>
          </p-header>
          <ul *ngIf="toggleView">
            <li routerLinkActive="active"><a [routerLink]="['/subscription/all-subscription']">
              All Subscriptions<span class="green">{{totalCount.total_subscription || 0}}</span>
          </a></li>
            <li routerLinkActive="active"><a [routerLink]="['/subscription/all-plan']">
                <div class="setGapBetween">
                  Subscription <br />Plan<span class="green">{{totalCount.total_plan || 0}}</span>
                </div>
              </a></li>
            <li routerLinkActive="active"><a [routerLink]="['/subscription/subscription-product']">
                <div class="setGapBetween">
                  Subscription <br />Product<span class="green">{{totalCount.total_product || 0}}</span>
                </div>
              </a></li>
            <li routerLinkActive="active"><a [routerLink]="['/subscription/subscription-quotation']">
                <div class="setGapBetween">
                  Subscription <br />Quotation<span class="green">{{totalCount.total_saleorder || 0}}</span>
                </div>
              </a></li>
              <li routerLinkActive="active"><a [routerLink]="['/subscription/sales-team']">
                  Sales Team<span class="green">{{totalCount.total_salesteam || 0}}</span>
              </a></li>
              <li routerLinkActive="active"><a [routerLink]="['/subscription/invoicing']">
                Invoicing<span class="green">{{totalCount.total_invoice || 0}}</span>
            </a></li>
              <li routerLinkActive="active"><a [routerLink]="['/subscription/subscription-tags']">
                Tags<span class="green">{{totalCount.total_tag || 0}}</span>
            </a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="footer">
      <ul class="d-flex">
        <span class="line-view  d-flex full-view">
          <li>
            <div class="tooltip-wrapper" pTooltip="Add Contacts" tooltipPosition="top">
              <img src="assets/images/sidebar/add-user.svg" alt="footer-adduser">
            </div>
          </li>
          <li>
            <div pTooltip="Task" tooltipPosition="top" class="tooltip-wrapper">
              <img src="assets/images/sidebar/footer-task.svg" alt="footer-task">
            </div>
          </li>
          <li>
            <div footer class="tooltip-wrapper" pTooltip="Calendar"
              tooltipPosition="top">
              <img src="assets/images/sidebar/calendar.svg" alt="footer-calendar">
            </div>
          </li>
          <li>
            <div class="tooltip-wrapper" pTooltip="Email" tooltipPosition="top">
              <img src="assets/images/sidebar/footer-email.svg" alt="footer-email">
            </div>
          </li>
          <li>
            <div class="tooltip-wrapper" pTooltip="Note" tooltipPosition="top">
              <img src="assets/images/sidebar/file.svg" alt="note">
            </div>
          </li>
        </span>
        <li data-toggle="tooltip" class="tooltip-wrapper">
          <img src="assets/images/sidebar/dot.svg" style="position: relative;" data-original-title="Lorem Ipsum"
            data-placement="top" data-toggle="kt-tooltip" alt="add user" />
          <div class="show-box more-filter-drop footer_more_Wrap" *ngIf="active">
            <div class="upload-menu">
              <div class="top-list">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
