<form #resetPasswordForm="ngForm" (ngSubmit)="forgotPassword(resetEmail)" class="animated flipInX">
  <div class="login">
    <div class="login-header">
      <img src="../../../assets/images/logo.png" alt="logo">
      <h4>Forgotten Password?</h4>
      <p class="reset-password">Enter your email to reset your password: </p>
    </div>
    <div class="vaildation-area">
      <ion-item>
        <ion-label class="label" position="floating">Email</ion-label>
        <ion-input type="email" required #email="ngModel" name="email" [(ngModel)]="resetEmail"
          pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"></ion-input>
      </ion-item>
      <div class="vaiidate-field" *ngIf="email.errors && ( email.touched || resetPasswordForm.submitted)">
        <p [hidden]="!email.errors.required">Email is required</p>
        <p [hidden]="!email.errors.pattern">Please enter a valid email</p>
      </div>
    </div>
    <div class="forgot-btn-wrapper">
      <ion-button class="btn-default" [routerLink]="['/login']">Cancel</ion-button>
      <ion-button class="btn-main" type="submit" [disabled]="!resetPasswordForm.valid">Request</ion-button>
    </div>
  </div>
</form>