
.customiseField {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
  text-align: left;
  color: #33475b;
  padding: 5px 8px 4px 0;
  font-size: 13px;
  background-color: #eaf0f6;
  border: 1px solid #cbd6e2;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 3px;
  margin-bottom: 0px;
  &:before{
    background:url('../../../assets/images/drag_indicator.svg')  0 0 /  cover no-repeat;
    content:"";
    position: absolute;
    top: -2px;
    left:0;
    width: 27px;
    height: 30px;
  }
  &:hover{
    box-shadow: 1px 1px 4px #ddd;
  }
}
::ng-deep .ui-state-highlight .customiseField {
  box-shadow: 1px 1px 4px #ddd;
}
.ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper{
  width:40% !important;
}
::ng-deep .ui-picklist .ui-picklist-list{
  padding:0 10px;
}
::ng-deep .p-picklist .p-picklist-list .p-picklist-item:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}