.view-page-wrapper {
  padding: 15px 15px;
  background-color: #eff0f6;
  height: calc(100vh - 85px);

  .view-template-wrapper {
    background: #fff;


    .content-area {
      overflow-y: auto;
      position: relative;
      max-height: calc(100vh - 165px);
      padding: 15px 15px 12px 15px;

      .owned-by {
        color: #404040;
        font-size: 12px;
      }

      .shared {
        color: #207ebb;
        font-size: 12px;
      }

      .form-area {
        width: 373px;

        label {
          font-size: 14px;
          color: #404040;
        }

        .form-control {
          font-size: 12px;
          height: 30px;
          padding-left: 12px;

          &:focus {
            box-shadow: none;
            border: 1px solid #207ebb;
          }
        }
      }

      .editor-area {
        position: relative;

        .personalize {
          color: #207ebb;
          font-size: 12px;
          position: absolute;
          bottom: 44px;
          right: 30px;
          z-index: 9999;
          opacity: 0.5;

          &::after {
            content: "\e902" !important;
            font-family: "primeicons" !important;
            position: absolute;
            top: 0px;
            right: -15px;
          }
        }

        label {
          font-size: 14px;
          color: #404040;
          width: 100%;
        }

        .blue-circle {
          float: right;
        }

        .signature-para {
          font-size: 12px;
          margin-top: 15px;
          color: #404040;

          .edit-signature {
            color: #207ebb;
            opacity: 0.5;
          }
        }
      }

      .btn-wrapper {
        margin: 12px 0 0 0;
      }
    }
  }
}



.content-area ::ng-deep .tox .tox-toolbar-overlord {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.content-area ::ng-deep .tox .tox-toolbar__primary{
  background: #fff !important;
}

.content-area .content-area ::ng-deep .tox.tox-tinymce {
  height: 265px !important;
  border-radius: 4px;
}

.default {
  cursor: pointer;
}

.custom-radio {
  display: inline-flex;
  margin-right: 15px;
}

.view-page-wrapper .program-form {
  padding: 15px !important;
  height: calc(100vh - 238px);
  max-height: inherit !important;

  .ui-dropdown {
    width: 100% !important;
    height: 30px !important;

    label {
      &.ui-dropdown-label {
        line-height: 26px;
      }
    }
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #f0f5eb;
    font-size: 12px;
    padding: 10px;

    &:disabled {
      background-color: #f8f8f8 !important;
      border-color: #f8f8f8 !important;
    }
  }

  .scheduled-options {
    margin: 5px 0 0 0;
    padding: 20px 0;
    font-size: 14px;
    width: 100%;
    border-top: 1px solid #f0f5eb;
  }

  .ui-calendar {
    width: 100%;

    .ui-calendar-button {
      position: absolute;
      right: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .schedule-week {
    p-dropdown {
      width: 100%;
    }
  }

  .program-content {
    padding-bottom: 0px;
  }

}

 .view-page-wrapper p-footer {
  padding: 15px;
  display: flex;
}